@{
    ViewData["Title"] = "Home"; // Altera nome na aba do nvegador
}


<div class="text-center">
    <h1>Grupo:</h1>
    <p>Caio Gomes de Carvalho lemos = "20157007";</p>
    <p>David Renan da Silva Ramos = "20157027";</p>
    <p>Pedro Henrique Correa da Rocha = "20157052";</p>        
</div>
